# Локальный backend + Docker только для БД
# Порт 5433 вместо 5432 (конфликт с локальным PostgreSQL)
DATABASE_URL=postgresql+asyncpg://nota_user:nota_pass@127.0.0.1:5433/nota_db

# JWT
SECRET_KEY=supersecretkey123changeme
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Redis
REDIS_URL=redis://localhost:6379

# Медиа (локальная ФС)
MEDIA_DIR=media
BASE_URL=http://localhost:8000

# CORS
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Celery
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2
